:root {
	--pageSize: 1024px;

	--gap: 8px;
	--gap-double: calc(2 * var(--gap));
	--gap-quadruple: calc(4 * var(--gap));

	--bgSign: aquamarine;
	--bgExponent: hotpink;
	--bgMantissa: coral;
}

html, body {
	margin: 0;
	padding: 0;
	background: white;
	color: black;
}

body {
	font-size: 14px;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto, Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue, sans-serif
}

* {
	box-sizing: border-box;
}
